@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&family=Roboto&display=swap');


body {
    margin: 0;
    font-family: "Roboto";
}

/* applying fonts color, size and weight. just leaving it on the top so i apply them for other sections(that was stupid) */

.section {
    font-size: 28px;
}

.text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.text h1 , .section, .action h2 {
    color: #F9FAF8;
}

ul, .text p, .action p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 500;
}

.section1 .title, .author {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info div {
    color: #767778;
    font-weight: 500;
}

.subsiction2 .quote {
    font-size: 36px;
    font-weight: 300;
    color: #767778;
}


/* the sec.section and first section */

.section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
}

.subsiction {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


.text {
    width: 450px;
    height: 250px;
    gap: 0;
}

.subsiction img {
    width: 500px;
    height: 250px;
}

.text p {
    margin: 0;
} 


button {
    width: 120px;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 16px;
    background-color: #3882f6;
    cursor: pointer;
    border: none;
}

/* second section */

.section1 {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subsiction1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info img {
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
}


/* third section */

.section2 {
    padding: 100px;
    background-color: #e5e7eb;
}

.subsiction2 {
    max-width: 770px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    align-self: flex-end;
}


.section3 {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.subsiction3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 70%;
    border-radius: 10px;
    padding: 30px;
}

.subsiction3 button {
    border: inherit;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.action p {
    margin-top: 0;
}

.action h2 {
    margin-bottom: 0;
    margin-top: 7px;
}

